#contact {
    flex-direction: column;
    p {
        font-size: 15px;
        color: var(--gray-1);
        font-weight: 600;
    }
    h2 {
        padding: 0 15px;
        margin: 0;
        font-size: 27px;
        font-weight: bold;
        color: var(--dark-0);
        text-transform: uppercase;
    }
    > section {
        flex-direction: column;
    }
    #map {
        width: 100%;
        height: 263px;
        background: url("../images/mapa.png") no-repeat;
        margin-top: var(--space);
    }
    .contacts {
        margin: 0;
        margin-top: 30px;
        padding: 1em;
        flex-direction: column;
        li {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 4em;
            text-align: center;
            border: solid 1px var(--gray-3);
            width: 100%;
            color: var(--gray-6);
            img {
                max-width: 100px;
                margin: 0 auto;
                margin-top: calc(var(--space) * -3);
                background-color: var(--white);
                padding: 0 15px;
            }
            .title {
                font-weight: 600;
                margin: 0;
                font-size: 24px;
            }
            p {
                font-weight: 300;
                margin: 0;
                font-size: 25px;
            }
        }
    }
}

@media (min-width: 992px){
    #contact {
        h2 {
            font-size: calc(var(--space) * 3);
        }
        > section {
            flex-direction: row;
            form, #map {
                flex: 1;
            }
            form {
                max-width: unset;
            }
            #map {
                margin-left: 0;
                height: 570px;
            }
        }
        .contacts { 
            flex-direction: row;
            li {
                margin-right: 1em;
                margin-bottom: 2em;
                &:last-child {
                    margin-right: unset;
                }

            }
        }
        textarea {
            height: 245px;
        }
    }
}